        /* Reset e estilos base */
        * {
            font-family: "Inter", sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color:#4B5563;
            font-display:swap;
        }
        @font-face {
            font-family: Hiluna;
            src: url("fonts/HilunaPersonalUseOnly-Regular.ttf");
        }
        :root{
            --smooth: #F8F7F4;
            --primario:#cd6600;
            --secundario:#b85c00;
        }
        html {
            scroll-behavior: smooth;
        }
        body {
            font-family: 'Inter', sans-serif;
            color: #000000;
            line-height: 1.6;
            background-color: white;
        }
        .container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .section {
            padding: 50px 0;
        }
        
        .text-center {
            text-align: center;
        }
        
        /* Personaliza a barra de rolagem */
        ::-webkit-scrollbar {
            width: 4px;
        }
        
        ::-webkit-scrollbar-track {
            background: #f8f7f4;
        }
        
        ::-webkit-scrollbar-thumb {
            background: #fa661c;
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: #fa661c;
        }
        
        /* Estilos para componentes específicos */
        .discount-banner {
            background-color: #ff0000;
            padding: 10px 0;
            text-align: center;
        }
        
        .discount-banner h2 {
            color: #FFFFFF;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 800;
        }
        
        .hero-section {
            background-color: #F8F7F3;
            padding: 20px 0;
        }
        .hero-section strong{
            color: red;
        } 
        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .hero-logo {
            width: 15%;
            margin: 30px 0px;
        }
        .avaliacao{
            width: 9%;
            height: auto;
        }
        .target-audience {
            background-color: #000000;
            color: #FFFFFF;
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            width: 60%;
        }
        
        .main-headline {
            font-family: 'Poppins', sans-serif;
            font-size: 50px;
            width: 70%;
            font-weight: 700;
            line-height: 1;
            color: #1F2041;
            text-align: center;
            margin: 20px 0;
        }
        
        .subheadline {
            font-family: 'Outfit', sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #1F2041;
            text-align: center;
            width: 81%;
            margin-top: -10px;
        }
        
        .video-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            border-radius: 20px;
            overflow: hidden;
        }
        
        .testimonial-section {
            background-color: #F8F7F3;
        }
        #container2{
            width: 70%;
            max-width: 100%;
        }
        #container2 h1{
            font-size: 40px;
        }
        #container2 h1 strong{
            color: var(--primario);
        }
        #carousel2{
            align-items: center;
        }
        #container2 .carousel-container{
            width: 80%;
            max-width: 100%;
            box-shadow: none;
            aspect-ratio: auto;
        }
        #container2 .carousel-item{
            min-width: 29%;
            height: 20%;
            margin: 2% 2%;
        }
        .testimonial-section .container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .testimonial-grid {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 30px;
        }
        .testimonial-card {
            display: flex;
            background-color: #FFFFFF;
            border-radius: 15px;
            text-align: center;
            width: 32%;
            min-height: 320px;
            margin-top: 20px;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0px 45px;
            padding-top: 20px;
        }
        .testimonial-card .info{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }
        .testimonial-card .info p{
            text-align: start;
        }
        .testimonial-avatar {
            width: 28%;
            margin: 0 auto;
        }

        .testimonial-text {
            padding-bottom: 30px;
            font-family: 'Outfit', sans-serif;
            font-size: 17px;
            text-align: justify;
        }
        
        .testimonial-rating {
            width: 31%;
            margin: 10px 0px;
        }
        
        .testimonial-author {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 700;
            color: #ac4b55;
            display: flex;
            padding-bottom: 10px;
            flex-direction: column;
            align-items: flex-start;
        }
        .testimonial-author span{
            font-size: 15px;
            font-weight: 600;
            margin-top: -8px;
            text-align: left;
            color: #00000093;
        }
        .testimonial-section .titulos{
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;
        }
        .testimonial-section .titulos h1{
            text-align: center;
            font-size:40px;
            color: var(--primario);
        }
        .problem-section, .solution-section, .proof-section, .benefits-section {
            background-color: #F8F7F4;
        }
        .whatsapp-fixed i{
            color: white;
        }
        .content-box {
            background-color: #FFFFFF;
            border-radius: 15px;
            border: 3px dashed #DDDDDD;
            padding: 50px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 80%;
             margin: 20px auto; text-align: left;
        }
        .texto-1{
            width: 50%;
        }
        .content-box video{
            width: 60%;
            height: auto;
        }
        .cover-capa{
                width: 160%;
                aspect-ratio: 1/1;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center
            }
        .cover-capa #image1{
            z-index: 4;
        }
        .cover-capa #image1,
        .cover-capa #image2, 
        .cover-capa #image3, 
        .cover-capa #image4,
        .cover-capa #image5{
            width: 60%;

                margin: 0;
        }
        .cover-capa img{
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
            position: absolute;
        }
        .cover-capa #entrega1{
            transform-origin: bottom left;
            --rodar: -15deg;
            z-index: 3;
            animation: animation2 3s ease-in-out infinite;
        }
        .cover-capa #entrega2{
            --rodar: -5deg;
            transform-origin: bottom left;
            animation: animation2 3s ease-in-out infinite;
            z-index: 2;
        }
        .cover-capa #entrega3{
            --rodar: 5deg;
            transform-origin: bottom left;
            animation: animation2 3s ease-in-out infinite;
            z-index: 1;
        }
        .cover-capa #image2{
            --x: -45px;
            --y:-45px;
            animation: animation1 2.5s ease-in-out infinite;
            animation-delay: 0.5s;
        }
        .cover-capa #image3{
            --x: -65px;
            --y:55px;
            animation: animation1 2.6s ease-in-out infinite;
            animation-delay: 0.5s;
        }
        .cover-capa #image4{
            --x: 65px;
            --y:55px;
            animation: animation1 2.6s ease-in-out infinite;
            animation-delay: 0.5s;
        }
        .cover-capa #image5{
            --x: 75px;
            --y:-55px;
            animation: animation1 2.6s ease-in-out infinite;
            animation-delay: 0.5s;
        }
        @keyframes animation1 {
            0%{
                transform: translateX(0px) translateY(0px);
            }
            50%{
                transform: translateX(var(--x)) translateY(var(--y));
            }
            100%{
                transform: translateX(var(--x)) translateY(var(--y));
            }
        }
        @keyframes animation2 {
            0%{
                transform: rotate(0deg);
            }
            10%{
                transform: rotate(0deg);
            }
            30%{
                transform: rotate(var(--rodar));
            }
            70%{
                transform: rotate(var(--rodar));
            }
            100%{
                transform: rotate(0deg);
            }
        }
        .content-box img{
            margin-left: 100px;
            height: auto;
            width: 200px;        
        }
        .content-box .strong1{
            color: #A96166;
            font-size:larger;
            font-weight: 800;
         }
        .content-box .strong2{
            color: var(--secundario);
            font-weight: bold;
         }
        .problem-box {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #FFF2F1;
            border: 3px dashed #FFD2D2;
        }
        .problem-box .cta{
            --cor: red;
            color: white;
            background: #cf0000;
        }
        .cta{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 1px;
            border: 0px;
            font-size: 17px;
            font-weight: bold;
            width: 250px;
            height: 70px;
            background: var(--primario);
            /*animation: cta 0.8s ease-in-out infinite;*/
        }
        .cta i{
            color: white;
            padding-right: 10px;
        }
        .guarantee-text .section-heading{
            color: var(--primario);
            font-size: 26px;
        }
        .section-heading {
            font-family: 'Poppins', sans-serif;
            font-size: 36px;
            font-weight: 700;
            color: #1F2041;
            text-align: center;
            margin-bottom: 20px;
            line-height: 1.1;
        }
        .section-heading strong{
            color: #A96166;
        }
        .divider {
            width: 25%;
            height: 2px;
            background-color: #ECEAE2;
            margin: 20px auto;
        }
        
        .icon-list {
            list-style: none;
            padding: 0 50px;
        }
        
        .icon-list li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;
            font-size: 20px;
        }
        
        .icon-list i {
            animation: lateral 0.8s ease-in-out infinite;
            color: #EE5253;
            font-size: 33px;
            margin-right: 10px;
            min-width: 33px;
        }
        @keyframes lateral {
            0%{
                transform: translateX(0px);
            }
            50%{
                transform: translateX(-20px);
            }
            100%{
                transform: translateX(0px);
            }
        }
        .proof-list i {
            color: #73AA00;
        }
        
        .benefits-list i {
            color: #73AA00;
        }
        
        .product-presentation {
            background-color: #F5FDE6;
            border: 3px dashed #72AB00;
        }
        
        .product-image {
            width: 100%;
            margin: 20px 0;
        }
        .cabecalho h1{
            padding: 30px 0px;
            color: white;
            text-align: center;
            width: 60%;
        }
        .cabecalho{
            margin-top: -50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--secundario);
        }
        .uso{
            background: url("fundo.webp");
        }
        .divisoens{
            margin: 30px 0px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
        }
        .divisoens img{
            height: auto;
            width: 40%;
        }
        .divisoens .text{
            height: 400px;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            padding-left: 40px;
        }
        .divisoens .text p:nth-of-type(1){
            display: block;
            text-align: left;
        }
        .divisoens .text p{
            display: flex;
            text-align: left;
        }
        .divisoens .text i{
            color: green;
            font-size: 25px;
            margin-right: 10px;
        }
        .cta-button {
            display: inline-block;
            background-color: #000000;
            color: #FFFFFF;
            font-family: 'Barlow', sans-serif;
            font-size: 16px;
            font-weight: 700;
            padding: 15px 30px;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 30px;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            transition: all 0.3s ease;
        }
        
        .cta-button:hover {
            background-color: #39CC83;
            transform: translateY(-3px);
        }
        
        .bonus-section {
            background-color: #F8F7F4;
        }
        
        .bonus-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            max-width: 1000px;
            margin: 0 auto;
        }
        
        .bonus-card {
            background: linear-gradient(47deg, #242424 0%, #000000 70%);
            border-radius: 15px;
            padding: 25px;
            text-align: center;
            margin: 20px;
        }
        
        .bonus-badge {
            display: inline-block;
            background-color: #F9651D;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: 600;
            padding: 10px;
            border-radius: 26px;
            margin-bottom: 15px;
        }
        
        .bonus-title {
            font-family: 'Barlow', sans-serif;
            font-size: 25px;
            font-weight: 900;
            color: #000000;
            margin-bottom: 15px;
        }
        
        .bonus-image {
            width: 100%;
            margin: 15px 0;
        }
        
        .bonus-description {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            margin-bottom: 15px;
        }
        
        .bonus-price {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #FF0000;
            margin-bottom: 15px;
        }
        
        .bonus-free {
            background-color: #FFDC00;
            color: #000000;
            font-family: 'Barlow', sans-serif;
            font-size: 25px;
            font-weight: 600;
            padding: 20px;
            border-radius: 5px;
            margin-top: 20px;
        }
        .carrossel-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 100px 0px;
        }
        .carrossel-container .titulo strong{
            color: var(--primario);
        }
        .carrossel-container .titulo{
            width: 60%;
            line-height: normal;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
        }
        .carrossel-container .lista{
            display: flex;
            margin-top: 100px;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 400px;
        }
        .carrossel-container .rating{
            width: 12%;
            height: auto;
            margin: 30px 0px;
        }
        .carrossel-container .lista .slide{
            width: 24%;
            height: 100%;
            display: flex;
            justify-content: center;
            background: linear-gradient(to bottom, #412f1f82, black);
            border-radius: 10px;
            position: relative;
        }
        .carrossel-container .lista .slide .info{
            width: 80%;
            height: 60%;
            color: white;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            bottom: 30px;
            background: linear-gradient(to bottom, transparent 10%, black 70%);
        }

        .carrossel-container .lista .slide .info> h1{
            font-family: Hiluna;
            color: var(--primario);
            font-size: 30px;
        }
        .carrossel-container .lista .slide .info> h2{
            color: white;
        }
        .carrossel-container .lista .slide .info> h4{
            color: white;
        }
        .carrossel-container .lista .slide .slides img{
            width: 100%;
            height: auto;
        }
        .container-slides{
            box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.637);
            margin-top: -30px;
            overflow-y: hidden;
            position: relative;
            width: 80%;
            height: 90%;
        }
        .carrossel-container .lista .slide .slides{
            display: flex;
            transition: all 0.2s ease-in-out;
            width: 100%;
            height: 100%;
            justify-content: space-between;
        }
        .carrossel-container .lista .slide .linha{
            width: 100%;
            height: 5px;
            background: var(--primario);
        }
        .guarantee-section {
            background-color: #F8F7F4;
        }
        
        .guarantee-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
            align-items: center;
        }
        
        .guarantee-image {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        .guarantee-image img{
            width: 40%;
        }
        .guarantee-text {
            width: 60%;
            text-align: justify;
        }
        
        .offer-section {
            background-color: #F8F7F4;
            padding: 50px 0;
        }
        
        .offer-grid {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            max-width: 900px;
            margin: 0 auto;
        }
        
        .offer-card {
            background: white;
            position: relative;
            border: 5px solid rgb(49, 49, 255);
            border-radius: 10px;
            padding: 25px;
            text-align: center;
            margin: 0px;
            width: 47%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: black;
        }
        
        .offer-premium {
            border: 5px solid var(--secundario);
        }
        .ribbon {
        width: 150px;
        height: 150px;
        overflow: hidden;
        position: absolute;
        }
        .ribbon::before,
        .ribbon::after {
        position: absolute;
        content: '';
        display: block;
        border: 5px solid #2980b9;
        }
        .ribbon span {
              box-shadow:0 0 0 3px #3498db,  0px 21px 5px -18px rgba(0,0,0,0.6);
        position: absolute;
        display: block;
        width: 245px;
        padding: 15px 15px;
        border: 1px dashed;
        background: radial-gradient(circle, #099cff 10%, #0f81cd 80%, #026cb3 10%);
        color: #fff;
        font: 700 18px/1 'Lato', sans-serif;
        text-shadow: 0 1px 1px rgba(0,0,0,.2);
        text-transform: uppercase;
        text-align: center;
        }

        /* top left*/
        .ribbon-top-left {
        top: -10px;
        left: -10px;
        }
        .ribbon-top-left::before,
        .ribbon-top-left::after {
        }
        .ribbon-top-left::before {
        top: 0;
        right: 0;
        }
        .ribbon-top-left::after {
        bottom: 0;
        left: 0;
        }
        .ribbon-top-left span {
        right: -25px;
        top: 30px;
        z-index: 1;
        transform: rotate(-45deg);
        }


        .offer-logo {
            width: 30%;
            margin: 0 auto;
        }
        
        .offer-title {
            font-size: 15px;
            background: #A96166;
            margin: 10px 0;
            color: white;
            line-height: 1;
            width: 80%;
            border-radius: 10px;
            padding:  10px 5px;
        }
        
        .offer-image {
            width: 100%;
            margin: 15px 0 -30px 0;
        }
        
        .offer-description {
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 15px;
        }
        
        .offer-features {
            list-style: none;
            padding: 10px;
            border-radius: 5px;
            margin: 5px 0;
            text-align: left;
        }
        
        .offer-features li {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            font-size: 15px;
            color: black;
            font-weight: 700;
        }
        
        .offer-features i {
            color: #60B866;
            font-size: 17px;
            margin-right: 5px;
        }
        
        .offer-original-price {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            margin-bottom: 5px;
            position: relative;
            display: flex;
        }
        .offer-original-price::before{
            content: "";
            position: absolute;
            width: 110%;
            height: 2px;
            top: 43%;
            left: -5%;
            background: red;
            display: flex;
        }
        .offer-current-price strong{
            color: #AB6168;
        }        
        .offer-current-price {
            font-family: 'Barlow', sans-serif;
            font-size: 45px;
            font-weight: 800;
            margin: 0;
        }
        .offer-premium .offer-cta{
            background-color: #AB6168;
        }
        .offer-cta {
            background: rgb(84, 84, 255);
            width: 75%;
            font-size: 22px;
            margin-top: 5px;
        }
        
        .offer-security {
            font-family: 'Inter', sans-serif;
            font-size: 10px;
            color: #91999D;
            text-align: center;
            margin-top: 15px;
        }
        
        .faq-section {
            background-color: #F8F7F4;
        }
        
        .faq-container {
            max-width: 800px;
            margin: 0 auto;
        }
        
        .faq-item {
            background-color: #FFFFFF;
            margin-bottom: 10px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 6px 12px -9px rgba(165, 165, 165, 0.75);
        }
        
        .faq-question {
            padding: 28px 18px 24px 18px;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .faq-answer {
            padding: 0 18px 28px 18px;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            color: #000000;
            display: none;
        }
        
        .faq-active .faq-answer {
            display: block;
        }
        
        .footer {
            background-color: #000000;
            padding: 20px;
            color: #FFFFFF;
        }
        
        .footer-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            align-items: center;
        }
        
        .footer-logo {
            width: 23%;
        }
        
        .footer-text {
            font-family: 'Inter', sans-serif;
            font-size: 10px;
            text-align: left;
        }
        
        .footer-disclaimer {
            font-family: 'Inter', sans-serif;
            font-size: 8px;
            text-align: left;
        }
        .carousel-container {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.473);
            position: relative;
            width: 600px;
            aspect-ratio: 1/1;
            max-width: 800px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 15px;
        }

        .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
            height: 100%;
        }

        .carousel-item {

            min-width: 100%;
            height: 100%;
            position: relative;
        }

        .carousel-item img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: 100%;
            display: block;
        }

        .carousel-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
            padding: 15px;
            text-align: center;
        }

        .carousel-caption h3 {
            margin-bottom: 5px;
            font-size: 1.5rem;
        }

        .carousel-controls {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 15px;
        }
        .carousel-indicators {
            display: flex;
            justify-content: center;
            margin: 25px 0PX;
            gap: 10px;
        }
        .section-carousel{
            background-color: var(--smooth);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .section-carousel .buttons{
            width: 30%;
            display: flex;
            justify-content: center;
        }
        .cta:hover{
            scale: 1.1;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
        }

        .section-carousel .buttons .cta:nth-child(1){
            --cor:var(--primario);
            color: white;
            background: linear-gradient(var(--primario), var(--secundario));
        }
        .section-carousel .buttons .cta:nth-child(2){
            background: transparent;
            border: 2px solid var(--primario);
            color: var(--primario);
        }
        .indicator {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: rgba(85, 85, 85, 0.664);
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .indicator.active {
            background: var(--primario);
            transform: scale(1.2);
        }
        .whatsapp-fixed
        {
            position: fixed;
            bottom: 30px;
            right: 30px;
            background-color: #25D366;
            color: white;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
            z-index: 999;
            transition: all 0.3s ease;
            animation: pulse 2s infinite;
        }
        .svg{
            width: fit-content;
        }
        .svg svg{
            width: 80px;
            height: 80px;
        }
        .svg svg path{
            animation: sirene 0.5s ease-in-out infinite;
        }
        @keyframes sirene {
            0%{
                box-shadow: 50px 50px 10px red;
            }
            50%{
                box-shadow: 50px 50px 140px red;
            }
            0%{
                box-shadow: 50px 50px 10px red;
            }
        }
        .redline{
            display: flex;
            align-items: start;
            justify-content: center;
        }
        #path4142 {
        animation: blink2 0.5s infinite;
        }

        #path4231 {
        animation: blink-top2 0.5s infinite;
        }

        #path4227 {
        animation: blink-top2 0.5s infinite;
        }

        ellipse#path4229 {
        animation: blink-top2 0.5s infinite;
        }

        @keyframes blink2 {
        to {
            fill: blue;
        }
        }

        @keyframes blink-top2 {
        to {
            fill: #1c56ff;
        }
        }
        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
            }
            70% {
                box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
            }
            100% {
                box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
            }
        }
        /* Responsividade */
        @media (max-width: 1024px) {
            .main-headline {
                font-size: 50px;
            }
            
            
            .guarantee-content {
                grid-template-columns: 1fr;
            }
        }
        
        @media (max-width: 768px) {
            .cover-capa{
                width: 100%;
            }
            .carrossel-container .rating{
                width: 33%;
                margin: 0;
                margin-top: 100px;
            }
            .carrossel-container .titulo{
                margin-top: 50px;
                width: 100%;
            }
            .carrossel-container .lista{
                margin-top: 10px;
                height: fit-content;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .carrossel-container .lista .slide{
                margin: 50px 0px;
                padding: 30px 0px;
                width: 80%;
                height: 400px;
            }
            .carrossel-container .lista .slide .slides{
                height: 121%;
            }
            .testimonial-grid{
                flex-direction: column;
            }
            .testimonial-card{
                width: 100%;
            }
            .content-box video{
                width: 100%;
            }

            .guarantee-image img{
                width: 100%;
            }
            .redline{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 120%;
            }
            .svg:nth-of-type(2){
                display: none;
            }
            .offer-card{
                width: 95%;            
            }
            .container{
                padding: 0px 10px;
            }
            .offer-features li{
                font-size: 12px;
            }
            #container2{
                width: 100%;
            }
            #container2 h1, #container2 p{
                padding: 20px 0px;
                text-align: center;
                line-height: 1;
                width: 80%;
            }
            #container2 .carousel{
                margin-top: 30px;
                width: 100%;
            }
            #container2 .carousel-container{
                height: 400px;
                width: 100%;
            }
            #container2 .carousel-item{
                height: 100%;
                width: 100%;
                min-width: 100%;
                margin: 0;
            }
            #container2 .carousel-item img{
                width: 100%;
                height: auto;
            }
            .divisoens{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .carousel-container{
                width: 70%;
            }
            .guarantee-image{
                width: 70%;
            }
            .guarantee-text{
                width: 90%;
            }
            .testimonial-section .titulos p{
                margin: 30px 0px;
            }
            .section-carousel .buttons{
                width: 80%;
            }
            .section-carousel .buttons .cta{
                width: 47%;
                font-size: 14px;
            }
            .carousel{
            }
            .divisoens img, .divisoens .text{
                width: 80%;
            }
            .divisoens .text{
                padding: 0;
            }
            .divisoens .text h1{
                margin-top: 20px;
                text-align: center;
            }
            .divisoens .text p:nth-of-type(1){
                text-align: center;
            }
            .cabecalho h1 {
                font-size: 25px;
                width: 90%;
            }
            .main-headline,.testimonial-section .titulos h1 {
                font-size: 34px;
                line-height: 1;
            }
            
            .target-audience {
                width: 90%;
                font-size: 10px;
            }
            
            .subheadline {
                width: 100%;
                font-size: 16px;
            }
            .content-box {
                display: flex;
                flex-direction: column;
                padding: 25px;
                max-width: 100%;
            }
            .content-box img{
                width: 50%;
                margin: 0;
            }
            .texto-1{
                width: 100%;
                margin: 0;
            }
            .icon-list {
                padding: 0 10px;
            }
            
            .footer-content {
                grid-template-columns: 1fr;
                text-align: center;
            }
            
            .footer-logo {
                width: 49%;
            }
            .offer-title{
                width: 90%;
                font-size: 16px;
            }
            .offer-cta{
                width: 100%;
            }
            .offer-current-price{
                font-size: 36px;
            }
            .icon-list li{
                font-size: 15px;
            }
            .avaliacao{
                width: 30%;
            }
            .divisoens .text{
                height: auto;
            }.divisoens .text p{
                margin: 10px 0px;
            }
        }
        
        @media (max-width: 480px) {
            .section {
                padding: 30px 0;
            }
            
            .hero-logo {
                width: 31%;
                margin: 20px 0px;
            }
            
            .main-headline {
                width: 100%;
                font-size: 34px;
            }
            
            .section-heading {
                font-size: 35px;
            }
            

            .testimonial-avatar {
                width: 40%;
            }
            
            .testimonial-rating {
                width: 25%;
            }
        }
        @keyframes cta {
            0% {
                box-shadow: 0 0 0 0 var(--cor);
            }
            100% {
                box-shadow: 0 0 0 18px rgba(52, 152, 219, 0);
            }
        }